.question_section {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  width: 48%;
  background-color: var(--color-white);
  padding: 1.6rem;
}

.question_section h3,
.question_section p {
  color: var(--color-font-bl);
}

.question_section svg {
  color: var(--color-icon);
  width: 2rem;
  height: 2rem;
  margin-top: 0.4rem;
}
