.nicco_login_form {
  padding: 3.6rem;
  width: 100%;
  max-width: 100%;
}

.nicco_login_form form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.nicco_login_form form div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.nicco_login_form form input {
  padding: 0.8rem;
  font-size: 1.6rem;
  background-color: var(--color-input-bg);
}

.login_signup_switch {
  display: flex;
  flex-direction: column;
}

.stay_checkbox {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  justify-content: flex-start;
  align-items: center;
}

.login_btn {
  width: 100%;
  max-width: 100%;
  padding: 0.8rem;
  border-radius: 3.2rem;
  background-color: var(--color-primary);
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--color-white);
  border: 1px solid transparent;
}

.login_btn:hover,
.login_btn:active {
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-primary);
}

.name_input.invalid input {
  border: 1px solid var(--color-border-err);
  background-color: var(--color-fill-err);
}

.input.clicked {
  border: 1px solid rgb(5, 172, 255);
  z-index: 90;
}

/* Media Queries */

@media (max-width: 1200px) {
  .nicco_login_form {
    padding: 2.4rem;
  }
}

@media (max-width: 766px) {
  .login_btn {
    padding: 0.8rem;
    font-size: 1.4rem;
  }
}
